@import url('https://fonts.googleapis.com/css?family=Bungee|Bungee+Hairline|Chewy|Germania+One|Luckiest+Guy|Megrim|Nixie+One|Pangolin|Patrick+Hand|Rock+Salt');

body {
    background-image: url("./images/bg1.png");
    background-size: cover;
}


/* MAIN PAGE CSS */

#title {
    color: red;
    font-family: 'Germania One';
    font-size: 9em;
    text-align: center;
    margin-bottom: 0;
    margin-top: 2%;
    text-shadow: 1px 1px 15px rgb(0, 0, 0), -1px -1px 15px rgb(0, 0, 0);
    /* animation: color 3s infinite; */
}

@keyframes color {
    50% {
        text-shadow: 1px 1px 15px rgb(0, 0, 0), -1px -1px 15px rgb(0, 0, 0);
    }

    100% {
        text-shadow: 1px 1px 15px white, -1px -1px 15px white;
    }
}

#subtitle {
    text-align: center;
    font-family: "Rock Salt";
    letter-spacing: 1px;
    font-size: 1.5em;
    color: white;
    text-shadow: 1px 1px 3px black;
}

.container {
    margin-bottom: 1%;
}

.instructions {
    color: white;
    background-color: rgba(0, 0, 0, 0.801);
    border-radius: 20px;
    padding: 1%;
}

.instructions h3 {
    /* font-family: "Chewy"; */
    font-family: "Patrick Hand";
    font-size: 3em;
    text-decoration: underline;
    color: red;
    text-shadow: 1px 1px black;
}

.instructions p {
    font-family: "Nixie One";
    font-size: 1.3em;
}

.instructionsDiv {
    margin-bottom: 2%;
}

.instructionsDiv p {
    margin-bottom: 0px;
}

#l1 {
    color: green;
}

#l2 {
    color: #2950ff;
}

#l3 {
    color: red;
}


.btn {
    margin: 1%;
    box-shadow: 0px 0px 10px black;
    font-family: "Megrim";  
}

.btn.level1 {
    background-color: #ffffff;
    color: green;
    transition: .5s;
}

.btn.level2 {
    background-color: white;
    color: #2950ff;
    transition: .5s;
}

.btn.level3 {
    background-color: white;
    color: red;
    transition: .5s;
}


.btn.level1:hover {
    background-color: green;
    color: white;
}

.btn.level2:hover {
    background-color: #2950ff;
    color: white;
    text-shadow: 0px 0px 2px black;
}

.btn.level3:hover {
    background-color: red;
    color: white;
}

